/* ======================= ë§ˆì´íŽ˜ì´ì§€ - Index ======================= */
/* ======================= My menu ======================= */
#myShopList {
	font-size:0;
	padding: 40px 0 100px;
}
#myShopList .SP_myshop_list {
	display: inline-block;
	width: calc(50% - 10px);
	margin-left: 20px;
	border-top: 2px solid #000;
}
#myShopList .SP_myshop_list ul {
	font-size: 0;
}
#myShopList .SP_myshop_list:first-child {
	margin-left: 0;
}
#myShopList .SP_myshop_list li {
	display: block;
	line-height: unset;
	padding: 0;
	text-align: left;
	background: none;
	color: #000;
}
#myShopList .SP_myshop_list li a {
	border-bottom: 1px solid #eee;
	padding: 30px 75px 30px 50px;
	font-size:18px;
	font-weight: 500;
	color:#000;
	display: block;
	position: relative;
}
#myShopList .SP_myshop_list li a:after {
	content:'';
	display: inline-block;
	width: 15px;
	height: 25px;
	position: absolute;
	top: 50%;
	bottom:auto;
	left: auto;
	right: 20px;
	transform: translateY(-50%);
	background: url('/smartpc/_img/icon/swp_right_arrow.png') no-repeat center center;
	background-size: 80%;
}
#myShopList .SP_myshop_list li > a > span {
	color: #7f2929;
	font-size: 15px;
	float: right;
}

/* ======================= My menu ======================= */

/* ----- ë§ˆì´íŽ˜ì´ì§€ INDEX / INFOMATION  ----- */
.SP_displayTable {
    display: table;
    width: 100%;
    height: 100%;
}

.SP_displayTableInr {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.SP_mypageInfomation_wrap {
    margin-top: 8px;
    color: #fff;
    background: #111;
}

.SP_mypageInfomation_wrap .mypageInformation_inner {
    width: 1200px;
    margin: 0 auto 10px;
    padding: 66px 0 77px;
    position: relative;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_Message {
    width: 600px;
    display: inline-block;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_myOrderInfo_wrap {
    display: inline-block;
    /* width: 49%; */
    /* border: 1px solid #f90; */
    float: right;
    margin-top: 40px;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap {
    display: inline-block;
    vertical-align: top;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .ment {
    font-size: 26px;
    line-height: 1;
    padding-bottom: 12px;
    font-weight: 300;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .ment strong,
.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .grade strong {
	font-weight: 500;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .grade {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .gradeValue {
    font-size: 14px;
    color: #aaa;
}

/* PROGRESS BAR */
.SP_mypageInfomation_wrap .mypageInformation_inner .SP_Message .myProgress {
    position: relative;
    display: inline-block;
    width: 164px;
    height: 164px;
    background: #555;
    border-radius: 50%;
    z-index: 100;
    margin-right: 60px;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_Message .myProgress .bar {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 166px;
    height: 166px;
    border-radius: 50%;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_Message .myProgress span {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    width: 160px;
    height: 160px;
    line-height: 160px;
    background-color: #000;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* ë“±ê¸‰í˜œíƒ, íšŒì›ì •ë³´ ìˆ˜ì • ë²„íŠ¼ ì˜ì—­ */
.SP_infoUserUtilLink_wrap {
    font-size: 0;
    margin-top: 45px;
}

.SP_infoUserUtilLink_wrap a {
    position: relative;
    font-size: 15px;
    color: #fff;
    background: none;
    height: unset;
    line-height: unset;
    text-align: left;
    width: initial;
    padding-right: 60px;
    vertical-align: bottom;
    display: inline-block;
}

.SP_infoUserUtilLink_wrap a:after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 13px;
    background: url('/smartpc/_img/icon/arrow_more_wh.png') no-repeat center center;
    object-fit: contain;
    background-size: 90%;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    left: auto;
    right: 40px;
    bottom: auto;
}

.SP_infoUserUtilLink_wrap a:first-child {
    padding-left: 0;
}

.SP_infoUserUtilLink_wrap .SP_cm_btn {
    font-size: 20px;
    color: #fff;
    background: none;
    height: unset;
    line-height: unset;
    text-align: left;
}

#SP_mypage_wrap .SP_subSection {
	padding: 60px 0 30px;
}

#SP_mypage_wrap .SP_subSection.large {
	padding-top: 130px;
}

#SP_mypage_wrap .SP_contTitle {
    display: inline-block;
    font-size: 23px;
    font-weight: 500;
    color: #000;
    padding: 15px 0 35px;
}

.couponListTable .SP_contTitle {
	padding: 40px 0!important;
	font-size: 20px!important;
}

#SP_mypage_wrap .SP_tableSt01_isThumNail {
	margin-top: 0;
}
#SP_mypage_wrap .SP_tableSt01_isThumNail td {
	height: 120px;
}
#SP_mypage_wrap .SP_tableSt01_isThumNail td.left {
	text-align: left;
	padding-left: 35px;
}
#SP_mypage_wrap .SP_tableSt01_isThumNail td .SP_linkP.cancelOrder a {
	display: inline-block;
	width:17px;
	height:17px;
	font-size:0;
	text-indent: -9999px;
	background: url(/smartpc/_img/icon/icon_close_bl.png) no-repeat center center;
	background-size: cover;
	border: none;
}
#SP_mypage_wrap .SP_pagenation_wrap {
	padding-top: 70px;
}
/* ê²Œì´ì§€ ì˜ì—­ */
.gauge-container {
	width: 170px;
	height: 170px;
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 60px;
}
.gauge-container.one > .gauge > .dial {
	stroke: #555;
	stroke-width: 1;
}

.gauge-container.one > .gauge > .value {
	stroke: #fff;
	stroke-width: 1.8;
}

.gauge-container.one > .gauge > .value-text {
	fill: #fff;
	font-weight: bold;
	font-size: 20px;
}

/* ë‚´ ì‡¼í•‘ì •ë³´ */
/* title */
#SP_mypage_wrap .section_title {
	font-size: 20px;
	margin-bottom: 0;
}
.SP_cateMoreBtn_wrap {
	display: inline-block;
	float: right;
}
.SP_cateMoreBtn_wrap a {
	font-size: 15px;
	color: #000;
	position:relative;
	top: 5px;
}
/* title */
.SP_orderState_wrap {
    margin: 55px 0 77px;
    text-align: center;
}

.SP_orderState_wrap ul li {
    display: inline-block;
    width: 180px;
    height: 180px;
    margin-left: 150px;
    position: relative;
    background: #000;
}

#SP_mypage_wrap .SP_tableSt01_isThead th {
	height: 47px;
	font-size: 18px;
}
#SP_mypage_wrap .SP_tableSt01_isThead td {
	height: 75px;
	text-align: center;
	padding-left: 0;
}
#SP_mypage_wrap .SP_tableSt01_isThead td.left {
	text-align: left;
	padding-left: 40px;
}

.SP_orderState_wrap ul li:after {
    content:'';
    display: inline-block;
    width: 25px;
    height: 40px;
    background: url('/smartpc/_img/icon/swp_right_arrow.png') no-repeat center center;
    background-size: 90%;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(0, -50%);
}

.SP_orderState_wrap ul li:first-child {
    margin-left:0;
}

.SP_orderState_wrap ul li:first-child:after {
    display: none;
}

.SP_orderState_wrap ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 45px 0;
    font-size: 18px;
}

.SP_orderState_wrap ul li a strong {
    font-size: 16px;
    display: block;
    font-weight:bold;
    margin-bottom: 30px;
}

.SP_orderState_wrap ul li a .count,
.SP_orderState_wrap ul li a .count span {
	display: block;
	font-size: 40px;
	color: #fff;
	font-weight: 900;
	line-height: 1;
}

.SP_orderState_wrap ul li a .count span {
    margin-top: 25px;
}

.SP_myOrderInfo_wrap .orderinfo_pay {overflow: hidden;}

.SP_myOrderInfoList {
    font-size: 0;
    /* position: absolute; */
    /* left: auto; */
    /* right: 0; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* overflow: hidden; */
    /* border: 1px solid #fff; */
}

.SP_myOrderInfoList li {
    display: inline-block;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;
    text-align: center;
    margin-left: 90px;
}

.SP_myOrderInfoList li:first-child {margin-left: 0;}

.SP_myOrderInfoList li a {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
    padding: 25px 0 15px;
}

.SP_myOrderInfoList .SP_myOrderInfoTitle {
    font-size: 16px;
    display: inline-block;
    padding: 7px 3px;
    border-bottom: 1px solid #fff;
    font-weight: 300;
}

.SP_displayTableInr .SP_myOrderInfoCont a {
    display: inline-block;
}


/* WISH LIST */
.SP_myWishlist_conts {
    margin-top: 40px;
}

.SP_myWishlist_conts .SP__myWishlist_list {
    padding-bottom: 40px;
}

.SP_myWishlist_conts .message {
    text-align: center;
    padding: 50px 0;
}

.SP_myWishlist_conts .SP_price_wrap {
    padding-top: 9px;
}

.SP_myWishlist_conts .SP_prdName_link a {
    font-size: 16px;
    color: #000;
}



/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ORDER ======================= */
/* ====== ORDER LIST PAGE ====== */
/* ìƒë‹¨ í… */
.SP_myOrderlist_tab {
    padding: 22px 0 50px;
}

.SP_myOrderlist_tab ul {
    font-size: 0;
}

.SP_myOrderlist_tab li {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 2px solid #bfbfbf;
}

.SP_myOrderlist_tab li.selected {
	border-bottom: 2px solid #000;
}

.SP_myOrderlist_tab li.selected a {
    font-weight: bold;
}

.SP_myOrderlist_tab li a {
    display: block;
    padding: 12px 0;
    color: #000;
    font-size: 20px;
    text-align: center;
}

/* ì£¼ë¬¸ì¡°íšŒ ê²€ìƒ‰ */
.SP_myOrderlist_srh {
    text-align: center;
}

.SP_myOrderlist_fildeset {
    font-size: 0;
}

.SP_myOrderlist_fildeset legend {
    display: none;
}

.SP_myOrderlist_li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.SP_myOrderlist_li:first-child {
    margin-left: 0;
}

.SP_ordSrh_chooseSel select {
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: #8b8b8b;
    border-color: #999;
    background-position: 90% center;
    text-align: center;
}

.SP_ordSrh_chooseBtn {}

.SP_ordSrh_chooseBtn .SP_cm_btn {
    width: 60px;
    height: 40px;
    margin-left: 5px;
    font-size: 15px;
    color: #8b8b8b;
    line-height: 38px;
    border-color: #999;
}

.SP_ordSrh_chooseSel span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.SP_ordSrh_chooseSel span button {
    position: absolute;
    top: 12px;
    left: auto;
    right: 13px;
    display: inline-block;
    width: 15px;
    height: auto;
}
.SP_ordSrh_chooseSel span button img {
	display: block;
	width: 100%;
	height:auto;
}

.SP_ordSrh_chooseSel span.SP_extraTxt {
    padding: 0 10px;
    font-size: 11px;
    color: #8d8d8d;
}

.SP_ordSrh_chooseSel input {
    width: 200px;
    height: 30px;
    border: 1px solid #999!important;
    box-sizing: border-box;
    color: #8b8b8b!important;
    text-align: center;
    padding-left: 0!important;
    padding-right: 10px;
}

.SP_ordSrh_chooseSubmit {
    position: relative;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #000;
    line-height: 40px;
    border: none;
    box-sizing: border-box;
}

.SP_ordSrh_chooseSubmit span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.SP_ordSrh_chooseSubmit span input {
    width: 100%;
    height: 100%;
}

.SP_orderlist_srh_guide {
    padding: 50px 0;
}

.SP_orderlist_srh_guide li {
    padding-top: 5px;
    font-size: 15px;
    color: #8b8b8b;
    font-weight: 300;
}

.SP_orderlist_srh_guide li:first-child {
    padding-top: 0;
}

/* ====== // ORDER LIST PAGE ====== */

/* ====== ORDER VIEW PAGE ====== */
.SP_cm_btnChange .SP_cm_btn {
    vertical-align: middle;
    width: 60px;
    height: 25px;
    color: #8d8d8d;
    line-height: 25px;
    font-size: 11px;
}
/* ======  // ORDER VIEW PAGE ====== */
/* ======  // ORDER CANCEL PAGE ====== */
.myshop_applyCancel .SP_tableSt01_isThAndTd .SP_btn_gray_bd {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 25px;
	color: #8d8d8d;
	line-height: 25px;
	font-size: 11px;
	border: 1px solid #ddd;
	text-align:center;
}
/* ======  // ORDER CANCEL PAGE ====== */

/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ë‚˜ì˜ê²Œì‹œê¸€ ======================= */
.SP_myWrite_tableHD {
    padding-bottom: 10px;
    text-align: right;
}

.SP_myWrite_tableHD p span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #111;
    padding-right: 5px;
}

.SP_myWrite_tableHD p select {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 30px;
    border: 1px solid #ddd;
}


/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ì ë¦½ê¸ˆ ======================= */
.SP_depositSummary_wrap .SP_myOrderInfoList {
    border-top: 0;
}

.SP_depositSummary_wrap .SP_myOrderInfoList li {
    width: 25%;
}

.SP_depositsCount {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: #111;
}

.SP_depositsCount span {
    font-size: 22px;
    color: #111;
}

.SP_myMileagelist_tab {
    padding: 50px 0 47px!important;
}

.SP_myMileagelist_tab ul {
    font-size: 0;
}

.SP_myMileagelist_tab li {
    display: inline-block;
    vertical-align: middle;
    width: calc(33.3333333% - 11px);
    box-sizing: border-box;
    margin-left: 16px;
    border: 1px solid #000;
}
.SP_myMileagelist_tab li:first-child {
	margin-left:0;
}

.SP_myMileagelist_tab li.selected {
    border-color:#111;
}

.SP_myMileagelist_tab li.selected a {
    background: #111;
    color: #fff;
    font-weight: 500;
}

.SP_myMileagelist_tab li a {
    display: block;
    padding: 12px 0;
    color: #111;
    font-size: 18px;
    text-align: center;
}

/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ì¿ í° ======================= */
.SP_couponInputBox_wrap {
    text-align: center;
    background: #fff;
    margin: 65px 0 15px;
}

.SP_couponInputBox_wrap .tit {
	font-size: 20px;
	font-weight: 500;
	padding: 20px 0;
}

.SP_couponInputBox_wrap .couponSerial {
    margin-top:40px;
    font-size: 0;
}

.SP_couponInputBox_wrap legend {
    font-size: 0;
    display: none;
}

.SP_couponInputBox_wrap #coupon_code {
    width: 300px;
    height: 42px;
    width: 400px!important;
    height: 45px!important;
    border-color: #000;
}

.SP_couponInputBox_wrap p {
    padding: 20px 0!important;
    font-size: 12px;
    color: #000!important;
}

.SP_couponInputBox_wrap .SP_cm_btn {
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    width: 150px;
}


/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ì£¼ì†Œë¡ ======================= */
.SP_chgAdressTable_wrap .SP_tableSt01_isThAndTd #address_zip1 {
    padding: 0;
    text-align: center;
}

.SP_chgAdressTable_wrap .SP_tableSt01_isThAndTd th img {
    vertical-align: middle;
}

.SP_chgAdressTable_wrap .SP_tableSt01_isThAndTd .SP_cm_btn {
    width: 60px;
    height: 30px;
    font-size: 11px;
    line-height: 30px;
}

.SP_chgAdressTable_wrap .SP_tableSt01_isThAndTd select {
    height: 30px;
    border: 1px solid #d8d8d8;/* ======================= ë§ˆì´íŽ˜ì´ì§€ - Index ======================= */

/* ----- ë§ˆì´íŽ˜ì´ì§€ INDEX / INFOMATION  ----- */
.SP_displayTable {
    display: table;
    width: 100%;
    height: 100%;
}

.SP_displayTableInr {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}

.SP_mypageInfomation_wrap {
    margin-top: 8px;
    color: #fff;
    background: #111;
}

.SP_mypageInfomation_wrap .mypageInformation_inner {
    width: 1200px;
    margin: 0 auto;
    padding: 70px 0 50px;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_Message {
    width: 600px;
    display: inline-block;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_myOrderInfo_wrap {
    display: inline-block;
    float: right;
    vertical-align: top;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap {
    display: inline-block;
    vertical-align: top;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .ment {
    font-size: 26px;
    line-height: 1;
    padding-bottom: 10px;
    font-weight: 300;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .ment strong,
.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .grade strong {
	font-weight: 500;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .grade {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_information .SP_infoMegBox_wrap .gradeValue {
    font-size: 14px;
    color: #aaa;
}

/* PROGRESS BAR */
.SP_mypageInfomation_wrap .mypageInformation_inner .SP_Message .myProgress {
    position: relative;
    display: inline-block;
    width: 164px;
    height: 164px;
    background: #555;
    border-radius: 50%;
    z-index: 100;
    margin-right: 60px;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_Message .myProgress .bar {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 166px;
    height: 166px;
    border-radius: 50%;
}

.SP_mypageInfomation_wrap .mypageInformation_inner .SP_Message .myProgress span {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    width: 160px;
    height: 160px;
    line-height: 160px;
    background-color: #000;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* ë“±ê¸‰í˜œíƒ, íšŒì›ì •ë³´ ìˆ˜ì • ë²„íŠ¼ ì˜ì—­ */
.SP_infoUserUtilLink_wrap {
    font-size: 0;
    margin-top: 50px;
}

.SP_infoUserUtilLink_wrap a {
    position: relative;
    font-size: 15px;
    color: #fff;
    background: none;
    height: unset;
    line-height: unset;
    text-align: left;
    width: initial;
    padding-right: 40px;
    vertical-align: bottom;
    display: inline-block;
    padding-left: 28px;
}

.SP_infoUserUtilLink_wrap a:after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 13px;
    background: url('/smartpc/_img/icon/arrow_more_wh.png') no-repeat center center;
    object-fit: contain;
    background-size: cover;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    left: auto;
    right: 20px;
    bottom: auto;
}

.SP_infoUserUtilLink_wrap a:last-child:before {
    content:'';
    display: inline-block;
    width: 1px;
    height: 80%;
    background: #555;
    position:absolute;
    left:0;
    top: 50%;
    transform: translate(0, -50%);
    right: auto;
    bottom: auto;
}

.SP_infoUserUtilLink_wrap a:first-child {
    padding-left: 0;
}

.SP_infoUserUtilLink_wrap .SP_cm_btn {
    font-size: 20px;
    color: #fff;
    background: none;
    height: unset;
    line-height: unset;
    text-align: left;
}

#SP_mypage_wrap .SP_subSection {
	padding: 60px 0 30px;
}

#SP_mypage_wrap .SP_subSection.large {
	padding-top: 130px;
}

#SP_mypage_wrap .SP_contTitle {
    display: inline-block;
    font-size: 23px;
    font-weight: 500;
    color: #000;
    padding: 15px 0 35px;
}

#SP_mypage_wrap .SP_tableSt01_isThumNail {
	margin-top: 0;
}
#SP_mypage_wrap .SP_tableSt01_isThumNail td {
	height: 120px;
}
#SP_mypage_wrap .SP_tableSt01_isThumNail td.left {
	text-align: left;
	padding-left: 35px;
}
#SP_mypage_wrap .SP_tableSt01_isThumNail td .SP_linkP a {
	display: inline-block;
	width:17px;
	height:17px;
	font-size:0;
	text-indent: -9999px;
	background: url(/smartpc/_img/icon/icon_close_bl.png) no-repeat center center;
	background-size: cover;
	border: none;
}
#SP_mypage_wrap .SP_pagenation_wrap {
	padding-top: 70px;
}
/* ê²Œì´ì§€ ì˜ì—­ */
.gauge-container {
	width: 170px;
	height: 170px;
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 60px;
}
.gauge-container.one > .gauge > .dial {
	stroke: #555;
	stroke-width: 1;
}

.gauge-container.one > .gauge > .value {
	stroke: #fff;
	stroke-width: 1.8;
}

.gauge-container.one > .gauge > .value-text {
	fill: #fff;
	font-weight: bold;
	font-size: 20px;
}

/* ë‚´ ì‡¼í•‘ì •ë³´ */
.SP_orderState_wrap {
    margin: 50px 0 100px;
    text-align: center;
}

.SP_orderState_wrap ul li {
    display: inline-block;
    width: 180px;
    height: 180px;
    border: 2px solid #111;
    border-radius: 100%;
    margin-left: 160px;
    position: relative;
}

.SP_orderState_wrap ul li:after {
    content:'';
    display: inline-block;
    width: 30px;
    height: 60px;
    background: url('/smartpc/_img/icon/swp_right_arrow.svg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(0, -50%);
}

.SP_orderState_wrap ul li:first-child {
    margin-left:0;
}

.SP_orderState_wrap ul li:first-child:after {
    display: none;
}

.SP_orderState_wrap ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color:#111;
    padding: 45px 0;
}

.SP_orderState_wrap ul li a strong {
    font-size: 16px;
    display: block;
    font-weight:bold;
    margin-bottom: 30px;
}

.SP_orderState_wrap ul li a .count,
.SP_orderState_wrap ul li a .count span {
    font-size: 30px;
    color:#111;
    font-weight: 900;
    line-height: 1;
}

.SP_myOrderInfo_wrap {}

.SP_myOrderInfoList {
    font-size: 0;
}

.SP_myOrderInfoList li {
    display: inline-block;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;
    padding-left: 130px;
}

.SP_myOrderInfoList li:first-child {
    padding:0;
}

.SP_myOrderInfoList li a {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
}

.SP_myOrderInfoList .SP_myOrderInfoTitle {
    font-size: 16px;
    display: inline-block;
}


.SP_displayTableInr .SP_myOrderInfoCont a {
    display: inline-block;
}


/* WISH LIST */
/*
.SP_myWishlist_conts {
    margin-top: 40px;
}

.SP_myWishlist_conts .SP__myWishlist_list {
    padding-bottom: 40px;
}

.SP_myWishlist_conts .message {
    text-align: center;
    padding: 50px 0;
}

.SP_myWishlist_conts .SP_price_wrap {
    padding-top: 9px;
}

.SP_myWishlist_conts .SP_prdName_link a {
    font-size: 16px;
    color: #000;
}
*/

/* ======================= My menu ======================= */
#myShopList {
	border: 1px solid #f90;
}
#myShopList .SP_myshop_list {
	border: 1px solid #000;
	width: calc(50% - 10px);
	margin-left: 20px;
}
#myShopList .SP_myshop_list ul {
	font-size: 0;
}
#myShopList .SP_myshop_list:first-child {
	margin-left: 0;
}
#myShopList .SP_myshop_list li {
	display: block;
}
#myShopList .SP_myshop_list li a {
	padding: 30px 50px;
	font-size:18px;
	font-weight: 500;
	color:#000;
}
#myShopList .SP_myshop_list li a span {
	color: #7f2929;
	font-size: 15px;
}

/* ======================= My menu ======================= */


/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ORDER ======================= */
/* ====== ORDER LIST PAGE ====== */
/* ìƒë‹¨ í… */
.SP_myOrderlist_tab {
    padding: 22px 0 50px;
}

.SP_myOrderlist_tab ul {
    font-size: 0;
}

.SP_myOrderlist_tab li {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 2px solid #bfbfbf;
}

.SP_myOrderlist_tab li.selected {
	border-bottom: 2px solid #000;
}

.SP_myOrderlist_tab li.selected a {
    font-weight: bold;
}

.SP_myOrderlist_tab li a {
    display: block;
    padding: 12px 0;
    color: #000;
    font-size: 20px;
    text-align: center;
}

/* ì£¼ë¬¸ì¡°íšŒ ê²€ìƒ‰ */
.SP_myOrderlist_srh {
    text-align: center;
}

.SP_myOrderlist_fildeset {
    font-size: 0;
}

.SP_myOrderlist_fildeset legend {
    display: none;
}

.SP_myOrderlist_li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.SP_myOrderlist_li:first-child {
    margin-left: 0;
}

.SP_ordSrh_chooseSel select {
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: #8b8b8b;
    border-color: #999;
    background-position: 90% center;
    text-align: center;
}

.SP_ordSrh_chooseBtn {}

.SP_ordSrh_chooseBtn .SP_cm_btn {
    width: 60px;
    height: 40px;
    margin-left: 5px;
    font-size: 15px;
    color: #8b8b8b;
    line-height: 38px;
    border-color: #999;
}

.SP_ordSrh_chooseSel span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.SP_ordSrh_chooseSel span button {
    position: absolute;
    top: 12px;
    left: auto;
    right: 13px;
    display: inline-block;
    width: 15px;
    height: auto;
}
.SP_ordSrh_chooseSel span button img {
	display: block;
	width: 100%;
	height:auto;
}

.SP_ordSrh_chooseSel span.SP_extraTxt {
    padding: 0 10px;
    font-size: 11px;
    color: #8d8d8d;
}

.SP_ordSrh_chooseSel input {
    width: 200px;
    height: 30px;
    border: 1px solid #999!important;
    box-sizing: border-box;
    color: #8b8b8b!important;
    text-align: center;
    padding-left: 0!important;
    padding-right: 10px;
}

.SP_ordSrh_chooseSubmit {
    position: relative;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #000;
    line-height: 40px;
    border: none;
    box-sizing: border-box;
}

.SP_ordSrh_chooseSubmit span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.SP_ordSrh_chooseSubmit span input {
    width: 100%;
    height: 100%;
}

.SP_orderlist_srh_guide {
    padding: 50px 0;
}

.SP_orderlist_srh_guide li {
    padding-top: 5px;
    font-size: 15px;
    color: #8b8b8b;
    font-weight: 300;
}

.SP_orderlist_srh_guide li:first-child {
    padding-top: 0;
}

/* ====== // ORDER LIST PAGE ====== */

/* ====== ORDER VIEW PAGE ====== */
.SP_cm_btnChange .SP_cm_btn {
    vertical-align: middle;
    width: 60px;
    height: 25px;
    color: #8d8d8d;
    line-height: 25px;
    font-size: 11px;
}
/* ======  // ORDER VIEW PAGE ====== */
/* ======  // ORDER CANCEL PAGE ====== */
.myshop_applyCancel .SP_tableSt01_isThAndTd .SP_btn_gray_bd {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 25px;
	color: #8d8d8d;
	line-height: 25px;
	font-size: 11px;
	border: 1px solid #ddd;
	text-align:center;
}
/* ======  // ORDER CANCEL PAGE ====== */

/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ë‚˜ì˜ê²Œì‹œê¸€ ======================= */
.SP_myWrite_tableHD {
    padding-bottom: 10px;
    text-align: right;
}

.SP_myWrite_tableHD p span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #111;
    padding-right: 5px;
}

.SP_myWrite_tableHD p select {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 30px;
    border: 1px solid #ddd;
}


/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ì ë¦½ê¸ˆ ======================= */
.SP_depositSummary_wrap .SP_myOrderInfoList {
    border-top: 0;
}

.SP_depositSummary_wrap .SP_myOrderInfoList li {
    width: 25%;
}

.SP_depositsCount {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: #111;
}

.SP_depositsCount span {
    font-size: 22px;
    color: #111;
}

.SP_myMileagelist_tab {
    padding-bottom: 40px;
}

.SP_myMileagelist_tab ul {
    font-size: 0;
    border: 1px solid #d8d8d8;
}

.SP_myMileagelist_tab li {
    display: inline-block;
    vertical-align: middle;
    width: 33.3333333%;
    border-left: 1px solid #d8d8d8;
    box-sizing: border-box;
}

.SP_myMileagelist_tab li.selected {
    border-color:#111;
}

.SP_myMileagelist_tab li.selected a {
    background: #111;
    color: #fff;
}

.SP_myMileagelist_tab li a {
    display: block;
    padding: 13px 0;
    color: #111;
    font-size: 14px;
    text-align: center;
}

/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ì¿ í° ======================= */
.SP_couponInputBox_wrap {
    padding: 30px 0;
    text-align: center;
    border: 1px solid #111;
    background: #fff;
}

.SP_couponInputBox_wrap .SP_contTitle:after {
    width: 120%!important;
}


.SP_couponInputBox_wrap .couponSerial {
    margin-top:40px;
}

.SP_couponInputBox_wrap legend {
    font-size: 0;
    display: none;
}

.SP_couponInputBox_wrap #coupon_code {
    width: 300px;
    height: 42px;
}

.SP_couponInputBox_wrap p {
    padding-top: 20px;
    font-size: 13px;
    color: #111;
}

.SP_couponInputBox_wrap .SP_cm_btn {
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    width: 100px;
}


/* ======================= ë§ˆì´íŽ˜ì´ì§€ - ì£¼ì†Œë¡ ======================= */
.SP_chgAdressTable_wrap .SP_tableSt01_isThAndTd #address_zip1 {
    padding: 0;
    text-align: center;
}

.SP_chgAdressTable_wrap .SP_tableSt01_isThAndTd th img {
    vertical-align: middle;
}

.SP_chgAdressTable_wrap .SP_tableSt01_isThAndTd .SP_cm_btn {
    width: 60px;
    height: 30px;
    font-size: 11px;
    line-height: 30px;
}

.SP_chgAdressTable_wrap .SP_tableSt01_isThAndTd select {
    height: 30px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
}

/* ======================= ë§ˆì´íŽ˜ì´ì§€ - íšŒì›ì •ë³´ìˆ˜ì • ======================= */
.SP_asyncBenefit_wrap {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d8d8d8;
}

.SP_asyncBenefit_wrap .information {
    font-size: 0;
}

.SP_asyncBenefit_wrap .thumbnail {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.SP_asyncBenefit_wrap .description {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 70px);
    padding-left: 20px;
    box-sizing: border-box;
}

.SP_asyncBenefit_wrap .description p {
    padding-top: 5px;
    font-size: 14px;
}

.SP_asyncBenefit_wrap .description p:first-child {
    padding-top: 0;
}